
@charset "UTF-8";

html, body, div, h1, h2, h3, h4, h5, h6, p, span
header, footer, section
{
    margin: 0;
    padding: 0;
}

html, body, #root
{
    position: relative;
    min-height: 560px;
    min-width: 960px;
    width: 100%;
}

a {
    text-decoration: none;
}